/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2015, 7:00:56 PM
    Author     : SAGAR
*/

body{
    background-color: #EEEEEE;
}
.login{
    height:500px;
    width:100%;
    margin-top: 100px;
    //background: url("../images/bgl.png") no-repeat 0px 0;
}
.login-frm{
    width: 30%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
     
    //margin-top: 10%;
    background-color: #FFFFFF;
    height: 400px;
    border-radius: 1%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30);
}
.login-frm h1{
    font-size: 36pt;
    margin-left:5%;
    padding-top: 5%;
}
input , .label{
    width: 90%;
    font-size: 16pt;
    margin-top:2%;
    margin-left:5%;
}
input[type="submit"]{
    margin-top:10%;
    background-color:#43A047;
    color:white;
    font-size: 20pt;
    padding: 1% auto;
}
.error{
    margin-left:5%;
    padding-top:2%;
    font-weight:bold;
}
.errormsg{
    color:red;
}
input[type="submit"]:hover{
    transition: scale 0.2s ease;
    transform: scale(0.96);
}