/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2015, 6:22:53 PM
    Author     : SAGAR
*/

.wrapper{
    margin:100px auto;
    width:80%;
}
.photo{
    width:400px;
    height:400px;
    margin: 8% auto;
    margin-bottom: 1% !important;
}
.photo img{
    width:400px;
    height:400px;
    border-radius: 50%;
    box-shadow: 0 25px 38px rgba(0,0,0,0.60);
}
.name{
    font-size:36pt;
    text-align:center;
    padding:2%;
}
.email{
    font-size:16pt;
     padding:2%;
     background-color:#EEEEEE;
     border-left: 5px solid #2ecc71;
}
.email h2{
    display:inline;
    font-size:16pt;
}
.contact h2{
    display:inline;
    font-size:16pt;
}
.contact{
    font-size:16pt;
     padding:2%;
     background-color: #bdc3c7;
     border-left: 5px solid #e74c3c;
}
.keystone{
    font-size:16pt;
     padding:2%;
     background-color:#EEEEEE;
     border-left: 5px solid #8e44ad;
}
.keystone p{
    padding-left: 5%;
}
.keystone .keytitle{
    font-size:16pt;
    font-weight: bold;
}
.skillset{
    font-size:16pt;
     padding:2%;
     background-color: #bdc3c7;
     border-left: 5px solid #3498db;
}
.skillset p{
    padding-left: 5%;
}
.skillset .skilltitle{
    font-size:16pt;
    font-weight: bold;
}
.resume{
    font-size:16pt;
     padding:2%;
     background-color:#EEEEEE;
     border-left: 5px solid #1abc9c;
}
.resume a{
    text-decoration:none;
}
.email a{
    text-decoration:none;
}